html {
    background-color: hsl(30, 38%, 92%);
}

main {

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    margin: 0;
    padding: 0;
    margin: 0 3.125rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: .9375rem;



}

.desktopImage {
    width: 320px;

    border-top-left-radius: .9375rem;
    border-bottom-left-radius: .9375rem;
}

.mobileImage {
    display: none;
}

.perfume {
    margin: 20px 40px 20px 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .25rem;
    font-size: 16px;
    font-weight: bold;
    color: grey;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.9);
}

h1 {
    margin: 10px 0 10px 20px;
    font-family: 'Fraunces', serif;
    font-size: 40px;
    line-height: 2.1875rem;
}

p {
    margin: 30px 0 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: grey;
    line-height: 1.5625rem;
    font-weight: bold;
    letter-spacing: .0938rem;
}

section {
    padding: 1.25rem;
    width: 300px;
}

.precios {
    margin: 30px 0 10px 20px;
    display: flex;
    flex-direction: row;
}

.precio-grande {
    font-size: 35px;
    font-family: 'Fraunces', serif;
    color: rgb(84, 122, 105);
}

.precio-pequeno {

    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: grey;
    margin: .4375rem 0rem 0rem 1.25rem;



}

button {
    background-color: rgb(84, 122, 105);
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: .9375rem 5rem;
    margin: 30px 0 10px 20px;
    border-radius: .4375rem;
    transition: 1s ease;


}

button:hover {
    background-color: rgb(36, 63, 50);
    cursor: pointer;
}

svg {
    margin-right: .625rem;
}

@media screen and (width <=412px) {

    .container {
        flex-direction: column;
        align-items: center;
    }

    .desktopImage {
        display: none;
    }

    .mobileImage {
        display: block;
    }

    .mobileImage {
        width: 100%;
        border-top-left-radius: .9375rem;
        border-top-right-radius: .9375rem;
    }

    section {
        width: 20.625rem;
    }

    .perfume {
        margin: 10px 0 10px 20px;
    }

    h1 {
        font-size: 30px;
        margin: 10px 0 10px 20px;
    }

    p {
        margin: 10px 0 10px 20px;
    }

    .precios {
        margin: 20px 0 10px 20px;
    }


    button {
        margin: 0.25rem;
        width: 100%;
    }

    .boton {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}